@media screen and (max-width: 400px) {
    .header {
        margin-top: 0;
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .blurr {
        display: none;
    }

    .main {
        display: none;
    }
}