/* the offscreen class is for seo and screen readers */
/* https://developer.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/ */

.offscreen {
    clip-path: inset(100%);
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; /* added line */
    width: 1px;
}

html {
    /* It is good practice to use rem units instead of px units in 
    a fully responsive webdesign. */
    /* the default font size if the user doesnt change
    anything, and no css is applied, is 16px */
    /* font-size: 16px; */
    /* this will still be 16px:  */
    /* font-size: 100%; */
    /* if we want our default fontsize to be 10px: 10/16 = 0,625 */
    /* this means one rem is 62.5%, which is 10px */
    font-size: 62.5%;
    /* from now on we can use rem units, and 1 rem will mean 10px */
    font-family: 'Heebo', sans-serif;
}

body {
    margin: 0;
}

header {
    background-color:#b8b8b8;
   
    /*alul fölül 0 a hely kihagyás, jobbra-balra pedig 10*/
    /* vw: verticalWidth*/
    padding: 0 10vw;
}

.logo {
    background-color: #b8b8b8;
    height: 100%;
    padding: 0 1rem; 
    
    /* ez az elem flex container*/
    display: flex;
   /* függőlegesen középre igazítjuk a flex containerben lévő elemeket*/
    align-items:center;
    order: 1;
}
/* a logo classa-al rendelkező html elem aimben van egy html elem:
a .logo-n belül 'a' tag*/
.logo a {
    color: rgb(0, 0, 0);
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 4rem;
    text-decoration: none;

}

.main-menu-container {
   /* ha valamit flex-be rakunk akkor a benne kévő elemk(közvetlen gyereki) flex iteme-ek leszenek*/
    display: flex;
    height: 7rem;
    align-items:center;
}


.main-menu{
    order:2;
    /*a flex item töltse ki a rendelkezésre alló maximális helyet*/
    flex-grow: 1;
    }

    .main-menu ul{
        display:flex;
        list-style:none;
    }
   
    .main-menu ul li {
        flex-grow:1;
        display: flex;
        justify-content:space-around;
    }


.main-menu ul il ::after {
    content:"~";
    font-size: 1.5rem;
    font-weight:bold;
    color:#caab4e;
    /*a visibility hidden úgy rejti el az elemt hogy minden úgy viselkedik ez az elem ott lenne*/
    visibility:hidden;
}


/*mindet kiválaszt ami nem az utolsó elem az ul-ben, és az az utáni elemeket célozza (after-eket)*/
.main-menu ul il:not(:last-child)::after {
visibility: visible;
}

.main-menu ul li a {
    text-decoration:none;
    text-transform: uppercase;
    color:rgb(0, 0, 0);
    font-weight:bold;
    font-size:1.5rem;
}


.search-bar{
    order:3;
    flex-grow:0.5;
    position: relative;
}

.search-bar ::placeholder {
    color: rgb(0, 0, 0);
}

.search-field{
    width:100%;
    height: 3rem;
    font-size: 1.6rem;
padding-left: 10px;
background-color: #b8b8b8;
outline: none;
border-style: solid;
border-width: 1px;

}
.search-button{
    background-image: url(./img/search.png);
    background-size: 100%;
    background-color:transparent;
    width: 20px;
    height: 20px;
    border: none;
    position:absolute;

/*safari miatt*/
    background-color: transparent;
    position:  absolute;
    top:7px;
    right: 6px;
}
.banner-image{
    background: url(./img/banner.jpg) repeat center 80%;
    background-size: cover;
/* backgorund-repeat: no-repeat;
    backgorund-repeat: center;
    backgorund-size: 80%;*/
    height: 30vw;
    padding-top:20vw;
}
.page-title{
    font-size:7rem;
    text-align:center;
    font-weight: bold;
   /* background-clip: rgb(92, 138, 208,);*/
    background-color: rgba(36, 53, 78, 0.34);
    width: 50vw;
   /* block elemt így igazítunk középre:*/
    margin: 0 auto; 
    padding: 4rem 0;
    color:white;
    border: 1 px solid rgba(174, 255, 255, 0.68);
}

.box-container{
    background-color: #89305cb9;
    border-radius: 20px;
    width: 20vw;
    height: 20vw;
    padding: 2rem 0;
    margin: 0 auto;
    border-top: 3px solid #89305c;
    margin: 40px auto 0 auto;
    -webkit-box-shadow: 0px 0px 17px 15px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 0px 17px 15px rgba(0,0,0,0.51);
    box-shadow: 0px 0px 17px 15px rgba(0,0,0,0.51);
}


.page-subtitle{
    text-align: center;
    color: #fff;
    font-size: 2rem;
    
    /* ha négy érték van a margin/padding property-nek akkor:top; right, bottom, left 
     ha csak két érték van akkor az első kattő alul felül a második jobbra-balra*/
    
    
}


.social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
    
}

.banner-image img{
    border-radius: 40px;
    height: 85px;
    width: 85px;
    -webkit-box-shadow: 0px 0px 44px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px 1px rgba(0,0,0,0.75);
}


.menu-checkbox{
    display: none;
}
.menu-button {
    font-size:  4rem;
    margin: 10px;
    display: none;
}
.search-bar{
    margin-right: 30px;
}












/* 900px-nél alacsonyabb képernyől estén*/
@media(max-width: 900px){
    .logo{
       order: 1;
        padding: 0px;
    }
    .search-bar{
        order: 2;
       margin-left: auto;
    }

    .main-menu-container{
        /*azok a flex item-ek amik nem férnek ki a sorba azokat dobja új sorba*/
        flex-wrap: wrap;
        height: auto;
    }
    .main-menu {
        order: 3;
        height: 6rem;
        display: flex;
        align-items: center;
        width: 100%;
    }
    .main-menu ul{
        flex-grow: 1;
        padding: 0;
    }
}



@media(max-width: 650px){
    .logo{
        padding: 17px;
    }
    .main-menu{
    display: none;
    height: auto;
    }
    
    .main-menu ul{
flex-direction: column;
margin-top: 20px;
    }
    
    .main-menu ul il{
        margin-bottom: 20px;
        justify-content: center;
    }

    .menu-button{
    direction: block;
    order: 3;
    height: 50px;
    }
    
    .menu-checkbox:checked ~ .main-menu{
        display: block;
    }

    
    .main-menu ul il :not(:last-child)::after{
    content: "";
    }



}
